/* 버튼의 스타일 */
.back-button {
    display: flex;
    align-items: center;
    padding: 0; /* padding을 0으로 설정해서 불필요한 여백을 제거 */
    background-color: transparent; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif; /* 폰트를 Pretendard로 설정 */
    margin-top: 20px;
}

/* 이미지 스타일 */
.back-button-image {
    width: 20px;
    height: 20px;
    margin-right: 4px; /* 아이콘과 텍스트 간의 간격을 더 넓게 설정 */
    margin-left: 280px; /* 아이콘을 왼쪽에서 좀 더 떨어지게 설정 */
}

/* 텍스트 스타일 */
.back-button-text {
    font-size: 14px;
    font-family: 'Pretendard', sans-serif; /* 폰트 설정 */
    color: #656565
}
